<nav id="sidebar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Prends un cours</a>
    
    <form class="d-flex">
      {% if app.request.pathInfo != '/2fa' %}
        {% if app.user %}
          <div class="mt-2 mx-2" style="color: white;">
            Vous êtes connecté en tant que: 
            {{ app.user.userIdentifier }}              
          </div>
          <a href="{{ path('app_logout')}}" class="btn btn-dark my-2 my-sm-0" >Déconnexion</a>
        {% else %}
          <a href="{{ path('app_login')}}" class="btn btn-dark mx-1 my-2 my-sm-0" {% if app.user %}style="display: none"{% endif %}>Connexion</a>
          <a href="{{ path('app_register')}}" class="btn btn-dark my-2 my-sm-0">Inscription</a>
        {% endif %}
      {% endif %}
    </form>
  </div>
</nav>
